<%- model_class = Child -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:first_name) %>:</strong></dt>
  <dd><%= @child.first_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_name) %>:</strong></dt>
  <dd><%= @child.last_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:family_id) %>:</strong></dt>
  <dd><%= link_to @child.family, @child.family %></dd>
  <dt style="background-color: #<%= @child.color %>"><strong><%= model_class.human_attribute_name(:playcelet) %>:</strong></dt>
  <dd style="background-color: #<%= @child.color %>"><%= @child.playcelet %></dd>
  <dt style="background-color: #<%= @child.color %>"><strong><%= model_class.human_attribute_name(:mac_address) %>:</strong></dt>
  <dd style="background-color: #<%= @child.color %>"><%= @child.mac_address %></dd>
  <dt style="background-color: #<%= @child.color %>"><strong><%= model_class.human_attribute_name(:color) %>:</strong></dt>
  <dd style="background-color: #<%= @child.color %>"><%= "##{@child.color}" %></dd>
  <dt style="background-color: #<%= @child.color %>"><strong><%= model_class.human_attribute_name(:color_name) %>:</strong></dt>
  <dd style="background-color: #<%= @child.color %>"><%= @child.color_name %></dd>
  <% if @child.app %>
  <dt><strong><%= model_class.human_attribute_name(:located_near) %>:</strong></dt>
  <dd><%= @child.app.supervisor %></dd>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:default_play_network_id) %>:</strong></dt>
  <dd><%= link_to @child.default_play_network, @child.default_play_network %></dd>

</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              children_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_child_path(@child), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              child_path(@child),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
