<%- model_class = DelayedJob -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:id) %>:</strong></dt>
  <dd><%= @delayed_job.id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:priority) %>:</strong></dt>
  <dd><%= @delayed_job.priority %></dd>
  <dt><strong><%= model_class.human_attribute_name(:attempts) %>:</strong></dt>
  <dd><%= @delayed_job.attempts %></dd>
  <dt><strong><%= model_class.human_attribute_name(:handler) %>:</strong></dt>
  <dd><%= @delayed_job.handler %></dd>
  <dt><strong><%= model_class.human_attribute_name(:run_at) %>:</strong></dt>
  <dd><%= @delayed_job.run_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_error) %>:</strong></dt>
  <dd><%= last_error_tag @delayed_job %></dd>
  <dt><strong><%= model_class.human_attribute_name(:failed_at) %>:</strong></dt>
  <dd><%= @delayed_job.failed_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:locked_at) %>:</strong></dt>
  <dd><%= @delayed_job.failed_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:locked_by) %>:</strong></dt>
  <dd><%= @delayed_job.locked_by %></dd>
  <dt><strong><%= model_class.human_attribute_name(:queue) %>:</strong></dt>
  <dd><%= @delayed_job.queue %></dd>
  <dt><strong><%= model_class.human_attribute_name(:queue) %>:</strong></dt>
  <dd><%= @delayed_job.queue %></dd>
  <dt><strong><%= model_class.human_attribute_name(:created_at) %>:</strong></dt>
  <dd><%= @delayed_job.created_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:updated_at) %>:</strong></dt>
  <dd><%= @delayed_job.updated_at %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              delayed_jobs_path, :class => 'btn'  %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              delayed_job_path(@delayed_job),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
