<%- model_class = PlayInvitation -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= will_paginate @play_invitations, renderer: BootstrapPagination::Rails %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:parent_id) %></th>
      <th><%= model_class.human_attribute_name(:child_id) %></th>
      <th><%= model_class.human_attribute_name(:invited_child_id) %></th>
      <th><%= model_class.human_attribute_name(:invitation_text) %></th>
      <th><%= model_class.human_attribute_name(:invited_at) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:duration) %></th>
      <th><%= model_class.human_attribute_name(:end_time) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @play_invitations.each do |play_invitation| %>
      <tr>
        <td><%= link_to play_invitation.id, play_invitation_path(play_invitation) %></td>
        <td><%= link_to play_invitation.app.supervisor.name, parent_path(play_invitation.app.supervisor) %></td>
        <td style="background-color: #<%= play_invitation.child.color %>"><%= link_to play_invitation.child.name, child_path(play_invitation.child), title: play_invitation.child.playcelet %></td>
        <td style="background-color: #<%= play_invitation.invited_child.color %>"><%= link_to play_invitation.invited_child.name, child_path(play_invitation.invited_child), title: play_invitation.invited_child.playcelet  %></td>
        <td><%= link_to play_invitation.invitation_text, play_invitation_path(play_invitation) %></td>
        <td><%=l_with_time_zone(play_invitation.invited_at) if play_invitation.invited_at %></td>
        <td><%= play_invitation.status_name %></td>
        <td><%= play_invitation.duration_name %></td>
        <td><%=l_with_time_zone(play_invitation.end_time) if play_invitation.end_time%></td>
        <td>
          <%= link_to(t('.accept', :default => t("helpers.links.accept")),
                      accept_play_invitation_url(play_invitation),
                      :method => :post,
                      :data => {},
                      :class => 'btn btn-mini') if play_invitation.new? && (current_user.admin? || (current_user.supervisor.family == play_invitation.invited_child.family)) %>
          <%= link_to(t('.reject', :default => t("helpers.links.reject")),
                      reject_play_invitation_url(play_invitation),
                      :method => :post,
                      :data => {},
                      :class => 'btn btn-mini') if play_invitation.new? && (current_user.admin? || (current_user.supervisor.family == play_invitation.invited_child.family)) %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      play_invitation_path(play_invitation),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @play_invitations, renderer: BootstrapPagination::Rails %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_play_invitation_path,
            :class => 'btn btn-primary' %>
