<%= form_for @play_node, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :child_id, :class => 'control-label' %>
    <div class="controls">
      <%= select_play_node_child_tag f, @play_node, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :play_network_id, :class => 'control-label' %>
    <div class="controls">
      <%= select_play_node_play_network_tag f, @play_node, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                @play_node.play_network, :class => 'btn' %>
  </div>
<% end %>
