<%- model_class = PlayNode -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:child_id) %>:</strong></dt>
  <dd style="background-color: #<%= @play_node.child.color %>"><%= link_to @play_node.child.name, @play_node.child %></dd>
  <dt><strong><%= model_class.human_attribute_name(:playcelet_id) %>:</strong></dt>
  <dd style="background-color: #<%= @play_node.child.color %>"><%= link_to @play_node.child.playcelet, @play_node.child %></dd>
  <dt><strong><%= model_class.human_attribute_name(:play_network_id) %>:</strong></dt>
  <dd><%= link_to @play_node.play_network.name, @play_node.play_network %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              play_nodes_path(play_network_id: @play_node.play_network.id), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_play_node_path(@play_node), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              play_node_path(@play_node),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
